<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234680584464-j8078qotpnppmrsjur29fdemagc3esqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234680584464-j8078qotpnppmrsjur29fdemagc3esqu</string>
	<key>API_KEY</key>
	<string>AIzaSyBvZJHAyqP65UBYu--Ou_RlmC8sE80BBkw</string>
	<key>GCM_SENDER_ID</key>
	<string>234680584464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyomin.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-ios-6d379</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-ios-6d379.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234680584464:ios:c87eba5c4d9b7b3f3a3d95</string>
</dict>
</plist>